@model Web.ViewModels.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Register", "Test", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.DisplayFor(m => m.LoginName)
        @Html.TextBoxFor(m => m.LoginName)
        <br/>
        @Html.DisplayFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
        <br />
        @Html.DisplayFor(m => m.PasswordConfirm)
        @Html.TextBoxFor(m => m.PasswordConfirm)
        <br/>
        <input type="submit" value="Register" name="btnRegistration"/>
    }
</div>
</body>
</html>
