@model IDAL.Models.Question
<div class="questionComplicated">
    <h3>@Model.QuestionName</h3>

    <input type="date" placeholder="type2Date" name="@String.Format("p{0}q{1}t2a0", Model.PageId, Model.Id)"/>
    <input type="text" placeholder="type2text1" class="form-control col-md-4" name="@String.Format("p{0}q{1}t2a1", Model.PageId, Model.Id)"/>
    <input type="text" placeholder="type2text2" class="form-control col-md-4" name="@String.Format("p{0}q{1}t2a2", Model.PageId, Model.Id)"/>
    <select class="compType1Select" placeholder="Ontstaan" name="@String.Format("p{0}q{1}t2a3", Model.PageId, Model.Id)">
        <option value="Ongeschoold">Ongeschoold</option>
        <option value="Basisschool">Basisschool</option>
        <option value="Praktijkonderwijs">Praktijkonderwijs</option>
        <option value="Mavo">Mavo</option>
        <option value="Havo">Havo</option>
        <option value="Vwo">Vwo</option>
        <option value="MBO">MBO</option>
        <option value="HBO">HBO</option>
        <option value="WO">WO</option>
    </select>
</div>



