@model Web.ViewModels.PasswordRecoveryViewModel

@{
    ViewBag.Title = "PasswordRecovery";
}

<section class="forgotUserForm">
    @using (Html.BeginForm("PasswordRecovery", "Home", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger col-centered"})
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Token)
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new {@class = "col-md-5 control-label"})
            <div class="col-md-3">
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmationalPassword, new {@class = "col-md-5 control-label"})
            <div class="col-md-3">
                @Html.ValidationMessageFor(m => m.ConfirmationalPassword, "", new {@class = "text-danger"})
                @Html.PasswordFor(m => m.ConfirmationalPassword, new {@class = "form-control"})
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-5">
                @Html.ActionLink("Annuleren", "Index", "Home", null, new {@class = "btn btn-danger pull-right"})
                <!--<input type="submit" value="Annuleren" class="btn btn-danger pull-right"/>-->
            </div>
            <div class="col-md-6 col-md-offset-1 tb-forgot">
                <input type="submit" value="Wachtwoord wijzigen" class="btn btn-success"/>
            </div>
        </div>
    }
</section>