@using System
@model IDAL.Models.Question
<div class="question">
    <!--Question-->
    <h3>@Model.QuestionName</h3>
    <!--Answers-->
    <!--If there are only two answers - inline form-->
    @if (Model.Answers.Count == 2) {
        foreach (var answer in Model.Answers)
        {
            <label class="checkbox-inline">
                <input id="@answer.Id" type="checkbox" name="@String.Format("p{0}q{1}", Model.PageId, Model.Id, answer.Id)" value="@answer.Name"/>
                @answer.Name
            </label>
        }
    }
    else
    {
        foreach (var answer in Model.Answers)
        {
            <div class="checkbox">
                <label>
                    <input id="@answer.Id" type="checkbox" value="@answer.Name" name="@String.Format("p{0}q{1}", Model.PageId, Model.Id, answer.Id)"/>
                        @answer.Name
                </label>
            </div>
        }
    }
</div>

