@model Web.ViewModels.EmployerViewModel

@{
    ViewBag.Title = "Edit employer profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="registrationForm">
    @using (Html.BeginForm("EditEmployer", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.CompanyName, new {@class = "col-md-5 control-label"})
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.CompanyName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CompanyName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Prefix, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Prefix, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Prefix, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TelephoneNumber, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.TelephoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TelephoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAdress, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.EmailAdress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailAdress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Adress, new { @class = "col-md-5 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Adress, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Adress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City, new {@class = "col-md-5 control-label"})
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.City, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.City, "", new {@class = "text-danger"})
            </div>
        </div>

        @Html.Hidden("id", @Model.EmployerId)
        <br />
        <div class="row">
            <div class="col-centered">
                <input type="submit" value="Bevestig" class="btn btn-success" />
            </div>
        </div>
    }
</section>