@{
    ViewBag.Title = "Employee's info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Web.ViewModels.EmployeeInfoViewModel

<section id="tlr-usr-section">
    <!--Main info-->
    <div class="row employeeInfoRow">
        <!--Image column-->
        <div class="col-md-4" id="emplSettingsMainImage">
            <p><b>@Model.FullName</b></p>
            <a href="@Url.Action("EmployeeInfo", "Admin", new { id = Model.Id })">
                <img src="~/Content/Images/UserImg.png" alt="@Model.FullName" />
            </a>
        </div>
        <!--Reports column-->
        <div class="col-md-4">
            <p class="leftAlignText"><b>Rapportage geschiedenis</b></p>
            @if (Model.Reports != null)
            {
                foreach (var report in Model.Reports)
                {
                    <p class="leftAlignText">@report.CreatedDate</p>
                }
            }
            else
            {
                <p class="leftAlignText">Er zijn nog geen rapportages aangemaakt.</p>
            }
        </div>
        <!--Button's column-->
        <div class="col-md-3">
            <div>
                @Html.ActionLink("Start nieuwe rapportage", "GetAllPages", "Report", new {id = Model.Id}, new {@class = "btn btn-warning btn-block btn-indent"})
            </div>
            <button type="button" class="btn btn-default btn-block btn-indent" data-toggle="modal" data-target="#delEmployee">
                Account verwijderen
            </button>
            <div>
                @Html.ActionLink("Terug", "Index", null, new { @class = "btn btn-default btn-block btn-indent" })
            </div>
        </div>
    </div>
    <!--Modal Window-->
    <div id="delEmployee" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Werknemer verwijderen!</h4>
                </div>
                <div class="modal-body">
                    <p>Weet u zeker dat u deze werknemer wilt verwijderen.</p>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Ja", "DeleteEmployee", new { id = Model.Id }, new { @class = "btn btn-default" })
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Nee</button>
                </div>
            </div>
        </div>
    </div>
</section>

