@model Web.ViewModels.EmployerViewModel

@{
    ViewBag.Title = "Employer Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-centered">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CompanyName)</td>
                    <td>@Html.DisplayFor(model => model.CompanyName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Prefix)</td>
                    <td>@Html.DisplayFor(model => model.Prefix)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LastName)</td>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TelephoneNumber)</td>
                    <td>@Html.DisplayFor(model => model.TelephoneNumber)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EmailAdress)</td>
                    <td>@Html.DisplayFor(model => model.EmailAdress)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PostalCode)</td>
                    <td>@Html.DisplayFor(model => model.PostalCode)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Adress)</td>
                    <td>@Html.DisplayFor(model => model.Adress)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.City)</td>
                    <td>@Html.DisplayFor(model => model.City)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-4">
        @Html.ActionLink("Gegevens bewerken", "EditEmployer", null, new { id = @Model.EmployerId }, new { @class = "btn btn-warning" })
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Profiel verwijderen", "DeleteEmployer",null, new { id = @Model.EmployerId }, new { @class = "btn btn-default" })
    </div>
</div>
<section id="tlr-usr-section">
    <!--Header-->
    <div class="row" id="tlr-usr-section-hdr">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <h3>Werknemers</h3>
        </div>
        <div class="col-sm-offset-1 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-3 col-lg-3">
            @Html.ActionLink("Werknemer toevoegen", "AddEmployee", null, new {id = @Model.EmployerId}, new {@class = "btn btn-default" })
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <span class="glyphicon glyphicon-search tlr-usr-search-img"></span>
            <input type="search" id="emplSearch" placeholder="search" autofocus/>
        </div>
    </div>
    <!--Main panel with users-->
    <div class="row" id="tlr-usr-section-main">
        @foreach (var employee in @Model.Employees)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 tlr-usr-info">
                <div class="row">
                    <div class="col-md-6">
                        <a href="@Url.Action("ChangeEmployeeName", "Admin", new {id = employee.EmployeeId})" class="tlr-usr-info-label-btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="tlr-usr-info-label-btn tlr-user-inner-info-trash" data-toggle="modal" data-target="#delEmployee" data-reftodel="@Url.Action("DeleteEmployee", "Admin", new { id = employee.EmployeeId })">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
                <a href="@Url.Action("EmployeeInfo", "Admin", new {id = employee.EmployeeId})" class="tlr-usr-inner-info">
                    <img src="~/Content/Images/UserImg.png" alt="@employee.FirstName">
                    <span data-userName class="tlr-usr-name">@employee.FirstName @employee.Prefix @employee.LastName</span>
                </a>
            </div>
        }
    </div>
</section>
<div id="delEmployee" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Adviseur verwijderen!</h4>
            </div>
            <div class="modal-body">
                <p>Weet u zeker dat u deze werknemer wilt verwijderen.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" id="delEmpl">Ja</a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Nee</button>
            </div>
        </div>
    </div>
</div>




