@model Web.ViewModels.EmployeeChangeNameViewModel
@{
    ViewBag.Title = "Change employee's name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangeEmployeeName", "Admin", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger col-centered" })
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.EmployerId)

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Prefix, new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.ValidationMessageFor(m => m.Prefix, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Prefix, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-5">
            @Html.ActionLink("Annuleren", "EmployerProfile", "Admin", new { id = Model.EmployerId }, new { @class = "btn btn-default pull-right" })
        </div>
        <div class="col-md-4 col-md-offset-3 tb-forgot">
            <input type="submit" value="Save" class="btn btn-success" />
        </div>
    </div>
}

