@using IDAL.Models
@model Web.ViewModels.EmployerViewModel

@{
    ViewBag.Title = "EmployerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employer Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prefix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Gegevens beweken", "EditEmployer", new { id = ViewBag.EmployerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="row" id="tlr-usr-section-main">
    <!--user's info(image and name)-->
    <!--Use this in foreach with your ViewModel-->
    @foreach (Employee employee in ViewBag.Employees)
    {
        <div class="col-sm-6 col-md-3 col-lg-2 tlr-usr-info">
            <p class="tlr-usr-info-label">@employee.FirstName @employee.LastName</p>
            <a href="@Url.Action("none", "Admin",  new { id = ViewBag.EmployerId })" class="tlr-usr-inner-info">
                <img src="~/Content/Images/UserImg.png" alt="UserName">
            </a>
        </div>
    }
</div>

