@using IDAL.Models
@model Web.ViewModels.EmployerViewModel

@{
    ViewBag.Title = "EmployerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-centered">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CompanyName)</td>
                    <td>@Html.DisplayFor(model => model.CompanyName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                    <td>@Html.DisplayFor(model => model.FirstName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Prefix)</td>
                    <td>@Html.DisplayFor(model => model.Prefix)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LastName)</td>
                    <td>@Html.DisplayFor(model => model.LastName)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TelephoneNumber)</td>
                    <td>@Html.DisplayFor(model => model.TelephoneNumber)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EmailAdress)</td>
                    <td>@Html.DisplayFor(model => model.EmailAdress)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.PostalCode)</td>
                    <td>@Html.DisplayFor(model => model.PostalCode)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Adress)</td>
                    <td>@Html.DisplayFor(model => model.Adress)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.City)</td>
                    <td>@Html.DisplayFor(model => model.City)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Gegevens beweken", "EditEmployer", new { id = ViewBag.EmployerId }, new { @class = "btn btn-primary pull-right" })
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Profiel verwijderen", "DeleteEmployer", new { id = ViewBag.EmployerId }, new {@class = "btn btn-default"})
    </div>
</div>
<div class="row" id="tlr-usr-section-main">
    @foreach (Employee employee in ViewBag.Employees)
    {
        <div class="col-sm-6 col-md-3 col-lg-2 tlr-usr-info">
            <p class="tlr-usr-info-label">@employee.FirstName @employee.LastName</p>
            <a href="@Url.Action("none", "Admin",  new { id = ViewBag.EmployerId })" class="tlr-usr-inner-info">
                <img src="~/Content/Images/UserImg.png" alt="UserName">
            </a>
        </div>
    }
</div>

