@model Web.ViewModels.UsersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/helpers/admIndex.js"></script>
}
<section id="tlr-usr-section">
    <!--Header-->
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <h3>Werknemers</h3>
        </div>
    </div>

    <div class="row" id="tlr-usr-section-hdr">
        <div class="col-sm-5 col-md-4 col-lg-3">
            <a href='@Url.Action("RegisterEmployer", "Admin")' id="tlr-usr-section-hdr-adm-btn">
                <img src="~/Content/Images/AdminCreateEmployer.png" />
                <span>Werkgever toevoegen</span>
            </a>
        </div>
        <div class="col-sm-3 col-md-5 col-lg-6">
            <a class="tlr-usr-section-category pull-left" id="emplBtn">
                Werkgevers
            </a>
            <a class="tlr-usr-section-category pull-left" id="advBtn">
                Adviseurs
            </a>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <span class="glyphicon glyphicon-search tlr-usr-search-img"></span>
            <input type="search" id="emplSearch" placeholder="search" autofocus/>
        </div>
    </div>
    <!--Main panel with users-->
    <div class="row" id="tlr-usr-section-main">
        <!--user's info(image and name)-->
        <!--Use this in foreach with your ViewModel-->
        <div id="employers">
            @foreach (var employer in Model.Employers)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 tlr-usr-info">
                    <p class="tlr-usr-info-label" data-userName>@employer.FirstName @employer.LastName</p>
                    <p class="tlr-usr-info-label">@employer.CompanyName</p>
                    <a href="@Url.Action("EmployerProfile", "Admin", new { id = employer.EmployerId })" class="tlr-usr-inner-info">
                        <img src="~/Content/Images/UserImg.png" alt="UserName">
                    </a>
                </div>
            }
        </div>
        <div id="advisors">
            @foreach (var advisor in Model.Advisors)
            {
                <div class="col-sm-3 col-md-3 col-lg-2 tlr-usr-info">
                    <p data-userName>@advisor.Name</p>
                    <a href="@Url.Action("AdvisorInfo", new {id = advisor.AdvisorId})" class="tlr-usr-inner-info">
                        <img src="~/Content/Images/UserImg.png" alt="@advisor.Name">
                    </a>
                </div>
            }
        </div>
    </div>
</section>