
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="emplSettings">
    <h3 class="centerText">Admin gegevens</h3>
    <div class="row">
        @Html.ActionLink("Adviseur toevoegen", "AddAdvisor", null, new {@class = "admSettingsButton" })
    </div>
    <div class="row">
        @Html.ActionLink("Administrator toevoegen", "AddAdmin", "Account", null, new {@class = "admSettingsButton" })
    </div>
    <div class="row">
        @Html.ActionLink("Verander wachtwoord", "PasswordChange", null, new {@class = "admSettingsButton" })
    </div>
    <div class="row">
        @Html.ActionLink("Adviseur verwijderen", "AdvisorsList", null, new {@class = "admSettingsButton"})
    </div>
    <div class="row">
        @Html.ActionLink("Create report", "CreateReport", "Report", null, new { @class = "admSettingsButton" })
    </div>
    <div class="row">
        @Html.ActionLink("Terug", "Index", null, new {@class = "admSettingsButton"})
    </div>
</section>

