@using IDAL.Models
@model List<IDAL.Models.Employer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="tlr-usr-section">
    <!--Header-->
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <h3>Werknemers</h3>
        </div>
    </div>

    <div class="row" id="tlr-usr-section-hdr">
        <div class="col-sm-5 col-md-4 col-lg-3">
            <a href='@Url.Action("RegisterEmployer", "Advisor")' id="tlr-usr-section-hdr-adm-btn">
                <img src="~/Content/Images/AdminCreateEmployer.png" />
                <span>Werkgever toevoegen</span>
            </a>
        </div>
        <div class="col-sm-offset-3 col-md-offset-5 col-lg-offset-6 col-sm-4 col-md-3 col-lg-3">
            <span class="glyphicon glyphicon-search tlr-usr-search-img"></span>
            <input type="search" id="emplSearch" placeholder="search" autofocus />
        </div>
    </div>
    <!--Main panel with users-->
    <div class="row" id="tlr-usr-section-main">
        <!--user's info(image and name)-->
        <!--Use this in foreach with your ViewModel-->
        @foreach (var employer in ViewBag.Employers)
        {
            <div class="col-sm-6 col-md-3 col-lg-2 tlr-usr-info">
                <p class="tlr-usr-info-label" data-userName>@employer.FirstName @employer.LastName</p>
                <p class="tlr-usr-info-label">@employer.CompanyName</p>
                <a href="@Url.Action("EmployerProfile", "Advisor", new { id = employer.EmployerId })" class="tlr-usr-inner-info">
                    <img src="~/Content/Images/UserImg.png" alt="UserName">
                </a>
            </div>
        }
    </div>
</section>