@using Web.Infrastructure.HtmlHelpers
@model Web.ViewModels.ReportViewModel
@{
    ViewBag.Title = "GetAllPages";
}

@section styles {
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- progressbar -->
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/Content/jquery.stepProgressBar.css" rel="stylesheet" type="text/css">

    <!-- carousel -->
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css" />

    <link href="../../Content/carousel.css" rel="stylesheet" type="text/css">
}

@Html.Hidden("PageCounterId", Model.Pages.Count)

<div class="col-md-12 col-centered">
    <div id="progressbar">
    </div>
    @using (Html.BeginForm("SaveReport", "Report", FormMethod.Post))
    {
        @Html.Hidden("EmployeeId", Model.Employee.EmployeeId.ToString())
        <div class="carousel">
            <div class="page text-centered">
                <p>U staat op het punt om een rapport op te stellen voor een werknemer.</p><br />
                <p>
                    U kunt op de pijl rechtsonderin klikken om te starten met het rapport. Wanneer u een pagina heeft ingevuld, kunt u door naar de volgende pagina.
                    Door nogmaals op het pijltje links onderin te klikken, kunt u navigeren naar de vorige pagina's. Onderin het scherm kunt
                    u op de balk uw voortgang bekijken.
                </p><br />
                <p>
                    Wanneer alle vragen zijn beantwoord, krijgt u een overzicht van alle beantwoorde vragen zodat u nogmaals uw vragen kunt controleren.
                    Ten slotte kunt u de rapport opsturen naar Poortwachtersloket.
                </p><br />
                <p><b>Succes met het invullen!</b></p><br />
            </div>
            @foreach (var page in Model.Pages)
            {
                <div class="page">
                    <div class="pageTitle">
                        @page.Order. @page.Name
                    </div>
                    <div class="row">
                        @foreach (var question in page.Questions)
                        {
                            @Html.CreateQuestion(question)
                        }
                    </div>
                </div>
            }
            <div class="page">
                <div class="submitTextBlock col-centered text-centered">
                    <p>Controleer alstublieft of u alle velden heeft ingevuld en druk vervolgens op de rechterpijl om een overzicht van het rapport te weergeven</p>
                </div>
            </div>
            <div class="page">
                <div class="previewHeader col-centered">
                    <div class="title1 text-centered">
                        <p>Poortwachtersloket medewerker rapport</p><br />
                    </div>
                    <div class="title2 text-centered">
                        <p>
                            Dit rapport is opgesteld en ingevuld naar aanleiding van het ziekteverzuim van de heer/mevrouw: <span class="italic">
                                @Model.Employee.FirstName
                            @Model.Employee.Prefix @Model.Employee.LastName
                        </span> werkzaam bij <span class="italic">@Model.Employee.Employer.CompanyName</span>
                    </p>
                </div>
            </div>

            @foreach (var page in Model.Pages)
                {
                <div class="pageTitle col-centered text-centered">
                    <span>@page.Name</span>
                </div>
                    <div class="row">
                        @foreach (var question in page.Questions)
                        {
                            <div class="row">
                                @Html.CreatePreview(question)
                            </div>
                        }
                    </div>
            }
            <div class="submitTextBlock col-centered text-centered">
                <p>Controleer of alle velden zijn ingevuld en druk vervolgens op verzenden.</p>
            </div>
            <div class="col-md-3 col-centered">
                <input type="submit" class="btn btn-warning customBtn" />
            </div>
        </div>
    </div>
    }
</div>



@section scripts {
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.stepProgressBar.js"></script>
    <script src="~/Scripts/report/passReport.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
}